$purple_100: #eadefc;
.purple_100 {
color: $purple_100;
};
.purple_100_bg {
background-color: $purple_100;
};
.purple_100_bg_hover:hover {
background-color: $purple_100;
};
.purple_100_border {
border-color: $purple_100;
};
.purple_100_border_hover:hover {
border-color: $purple_100;
};
.purple_100_hover:hover {
color: $purple_100;
};
$purple_200: #cbaff8;
.purple_200 {
color: $purple_200;
};
.purple_200_bg {
background-color: $purple_200;
};
.purple_200_bg_hover:hover {
background-color: $purple_200;
};
.purple_200_border {
border-color: $purple_200;
};
.purple_200_border_hover:hover {
border-color: $purple_200;
};
.purple_200_hover:hover {
color: $purple_200;
};
$purple_300: #ad81f4;
.purple_300 {
color: $purple_300;
};
.purple_300_bg {
background-color: $purple_300;
};
.purple_300_bg_hover:hover {
background-color: $purple_300;
};
.purple_300_border {
border-color: $purple_300;
};
.purple_300_border_hover:hover {
border-color: $purple_300;
};
.purple_300_hover:hover {
color: $purple_300;
};
$purple_400: #8e52ef;
.purple_400 {
color: $purple_400;
};
.purple_400_bg {
background-color: $purple_400;
};
.purple_400_bg_hover:hover {
background-color: $purple_400;
};
.purple_400_border {
border-color: $purple_400;
};
.purple_400_border_hover:hover {
border-color: $purple_400;
};
.purple_400_hover:hover {
color: $purple_400;
};
$purple_500: #7023eb;
.purple_500 {
color: $purple_500;
};
.purple_500_bg {
background-color: $purple_500;
};
.purple_500_bg_hover:hover {
background-color: $purple_500;
};
.purple_500_border {
border-color: $purple_500;
};
.purple_500_border_hover:hover {
border-color: $purple_500;
};
.purple_500_hover:hover {
color: $purple_500;
};
$purple_600: #5812c9;
.purple_600 {
color: $purple_600;
};
.purple_600_bg {
background-color: $purple_600;
};
.purple_600_bg_hover:hover {
background-color: $purple_600;
};
.purple_600_border {
border-color: $purple_600;
};
.purple_600_border_hover:hover {
border-color: $purple_600;
};
.purple_600_hover:hover {
color: $purple_600;
};
$purple_700: #440e9a;
.purple_700 {
color: $purple_700;
};
.purple_700_bg {
background-color: $purple_700;
};
.purple_700_bg_hover:hover {
background-color: $purple_700;
};
.purple_700_border {
border-color: $purple_700;
};
.purple_700_border_hover:hover {
border-color: $purple_700;
};
.purple_700_hover:hover {
color: $purple_700;
};
$purple_800: #2f0a6c;
.purple_800 {
color: $purple_800;
};
.purple_800_bg {
background-color: $purple_800;
};
.purple_800_bg_hover:hover {
background-color: $purple_800;
};
.purple_800_border {
border-color: $purple_800;
};
.purple_800_border_hover:hover {
border-color: $purple_800;
};
.purple_800_hover:hover {
color: $purple_800;
};
$purple_900: #1b063d;
.purple_900 {
color: $purple_900;
};
.purple_900_bg {
background-color: $purple_900;
};
.purple_900_bg_hover:hover {
background-color: $purple_900;
};
.purple_900_border {
border-color: $purple_900;
};
.purple_900_border_hover:hover {
border-color: $purple_900;
};
.purple_900_hover:hover {
color: $purple_900;
};
$purple_1000: #06010e;
.purple_1000 {
color: $purple_1000;
};
.purple_1000_bg {
background-color: $purple_1000;
};
.purple_1000_bg_hover:hover {
background-color: $purple_1000;
};
.purple_1000_border {
border-color: $purple_1000;
};
.purple_1000_border_hover:hover {
border-color: $purple_1000;
};
.purple_1000_hover:hover {
color: $purple_1000;
};
$blue_100: #dee7fc;
.blue_100 {
color: $blue_100;
};
.blue_100_bg {
background-color: $blue_100;
};
.blue_100_bg_hover:hover {
background-color: $blue_100;
};
.blue_100_border {
border-color: $blue_100;
};
.blue_100_border_hover:hover {
border-color: $blue_100;
};
.blue_100_hover:hover {
color: $blue_100;
};
$blue_200: #afc4f8;
.blue_200 {
color: $blue_200;
};
.blue_200_bg {
background-color: $blue_200;
};
.blue_200_bg_hover:hover {
background-color: $blue_200;
};
.blue_200_border {
border-color: $blue_200;
};
.blue_200_border_hover:hover {
border-color: $blue_200;
};
.blue_200_hover:hover {
color: $blue_200;
};
$blue_300: #81a1f4;
.blue_300 {
color: $blue_300;
};
.blue_300_bg {
background-color: $blue_300;
};
.blue_300_bg_hover:hover {
background-color: $blue_300;
};
.blue_300_border {
border-color: $blue_300;
};
.blue_300_border_hover:hover {
border-color: $blue_300;
};
.blue_300_hover:hover {
color: $blue_300;
};
$blue_400: #527ef0;
.blue_400 {
color: $blue_400;
};
.blue_400_bg {
background-color: $blue_400;
};
.blue_400_bg_hover:hover {
background-color: $blue_400;
};
.blue_400_border {
border-color: $blue_400;
};
.blue_400_border_hover:hover {
border-color: $blue_400;
};
.blue_400_hover:hover {
color: $blue_400;
};
$blue_500: #225beb;
.blue_500 {
color: $blue_500;
};
.blue_500_bg {
background-color: $blue_500;
};
.blue_500_bg_hover:hover {
background-color: $blue_500;
};
.blue_500_border {
border-color: $blue_500;
};
.blue_500_border_hover:hover {
border-color: $blue_500;
};
.blue_500_hover:hover {
color: $blue_500;
};
$blue_600: #1245c9;
.blue_600 {
color: $blue_600;
};
.blue_600_bg {
background-color: $blue_600;
};
.blue_600_bg_hover:hover {
background-color: $blue_600;
};
.blue_600_border {
border-color: $blue_600;
};
.blue_600_border_hover:hover {
border-color: $blue_600;
};
.blue_600_hover:hover {
color: $blue_600;
};
$blue_700: #0e359b;
.blue_700 {
color: $blue_700;
};
.blue_700_bg {
background-color: $blue_700;
};
.blue_700_bg_hover:hover {
background-color: $blue_700;
};
.blue_700_border {
border-color: $blue_700;
};
.blue_700_border_hover:hover {
border-color: $blue_700;
};
.blue_700_hover:hover {
color: $blue_700;
};
$blue_800: #0a256c;
.blue_800 {
color: $blue_800;
};
.blue_800_bg {
background-color: $blue_800;
};
.blue_800_bg_hover:hover {
background-color: $blue_800;
};
.blue_800_border {
border-color: $blue_800;
};
.blue_800_border_hover:hover {
border-color: $blue_800;
};
.blue_800_hover:hover {
color: $blue_800;
};
$blue_900: #05153d;
.blue_900 {
color: $blue_900;
};
.blue_900_bg {
background-color: $blue_900;
};
.blue_900_bg_hover:hover {
background-color: $blue_900;
};
.blue_900_border {
border-color: $blue_900;
};
.blue_900_border_hover:hover {
border-color: $blue_900;
};
.blue_900_hover:hover {
color: $blue_900;
};
$blue_1000: #01050e;
.blue_1000 {
color: $blue_1000;
};
.blue_1000_bg {
background-color: $blue_1000;
};
.blue_1000_bg_hover:hover {
background-color: $blue_1000;
};
.blue_1000_border {
border-color: $blue_1000;
};
.blue_1000_border_hover:hover {
border-color: $blue_1000;
};
.blue_1000_hover:hover {
color: $blue_1000;
};
$green_100: #defcf4;
.green_100 {
color: $green_100;
};
.green_100_bg {
background-color: $green_100;
};
.green_100_bg_hover:hover {
background-color: $green_100;
};
.green_100_border {
border-color: $green_100;
};
.green_100_border_hover:hover {
border-color: $green_100;
};
.green_100_hover:hover {
color: $green_100;
};
$green_200: #aff8e3;
.green_200 {
color: $green_200;
};
.green_200_bg {
background-color: $green_200;
};
.green_200_bg_hover:hover {
background-color: $green_200;
};
.green_200_border {
border-color: $green_200;
};
.green_200_border_hover:hover {
border-color: $green_200;
};
.green_200_hover:hover {
color: $green_200;
};
$green_300: #81f4d3;
.green_300 {
color: $green_300;
};
.green_300_bg {
background-color: $green_300;
};
.green_300_bg_hover:hover {
background-color: $green_300;
};
.green_300_border {
border-color: $green_300;
};
.green_300_border_hover:hover {
border-color: $green_300;
};
.green_300_hover:hover {
color: $green_300;
};
$green_400: #52efc3;
.green_400 {
color: $green_400;
};
.green_400_bg {
background-color: $green_400;
};
.green_400_bg_hover:hover {
background-color: $green_400;
};
.green_400_border {
border-color: $green_400;
};
.green_400_border_hover:hover {
border-color: $green_400;
};
.green_400_hover:hover {
color: $green_400;
};
$green_500: #23ebb2;
.green_500 {
color: $green_500;
};
.green_500_bg {
background-color: $green_500;
};
.green_500_bg_hover:hover {
background-color: $green_500;
};
.green_500_border {
border-color: $green_500;
};
.green_500_border_hover:hover {
border-color: $green_500;
};
.green_500_hover:hover {
color: $green_500;
};
$green_600: #12c995;
.green_600 {
color: $green_600;
};
.green_600_bg {
background-color: $green_600;
};
.green_600_bg_hover:hover {
background-color: $green_600;
};
.green_600_border {
border-color: $green_600;
};
.green_600_border_hover:hover {
border-color: $green_600;
};
.green_600_hover:hover {
color: $green_600;
};
$green_700: #0e9a73;
.green_700 {
color: $green_700;
};
.green_700_bg {
background-color: $green_700;
};
.green_700_bg_hover:hover {
background-color: $green_700;
};
.green_700_border {
border-color: $green_700;
};
.green_700_border_hover:hover {
border-color: $green_700;
};
.green_700_hover:hover {
color: $green_700;
};
$green_800: #0a6c50;
.green_800 {
color: $green_800;
};
.green_800_bg {
background-color: $green_800;
};
.green_800_bg_hover:hover {
background-color: $green_800;
};
.green_800_border {
border-color: $green_800;
};
.green_800_border_hover:hover {
border-color: $green_800;
};
.green_800_hover:hover {
color: $green_800;
};
$green_900: #063d2d;
.green_900 {
color: $green_900;
};
.green_900_bg {
background-color: $green_900;
};
.green_900_bg_hover:hover {
background-color: $green_900;
};
.green_900_border {
border-color: $green_900;
};
.green_900_border_hover:hover {
border-color: $green_900;
};
.green_900_hover:hover {
color: $green_900;
};
$green_1000: #010e0a;
.green_1000 {
color: $green_1000;
};
.green_1000_bg {
background-color: $green_1000;
};
.green_1000_bg_hover:hover {
background-color: $green_1000;
};
.green_1000_border {
border-color: $green_1000;
};
.green_1000_border_hover:hover {
border-color: $green_1000;
};
.green_1000_hover:hover {
color: $green_1000;
};
$grey_100: #e3e5e8;
.grey_100 {
color: $grey_100;
};
.grey_100_bg {
background-color: $grey_100;
};
.grey_100_bg_hover:hover {
background-color: $grey_100;
};
.grey_100_border {
border-color: $grey_100;
};
.grey_100_border_hover:hover {
border-color: $grey_100;
};
.grey_100_hover:hover {
color: $grey_100;
};
$grey_200: #c7cbd1;
.grey_200 {
color: $grey_200;
};
.grey_200_bg {
background-color: $grey_200;
};
.grey_200_bg_hover:hover {
background-color: $grey_200;
};
.grey_200_border {
border-color: $grey_200;
};
.grey_200_border_hover:hover {
border-color: $grey_200;
};
.grey_200_hover:hover {
color: $grey_200;
};
$grey_300: #abb1ba;
.grey_300 {
color: $grey_300;
};
.grey_300_bg {
background-color: $grey_300;
};
.grey_300_bg_hover:hover {
background-color: $grey_300;
};
.grey_300_border {
border-color: $grey_300;
};
.grey_300_border_hover:hover {
border-color: $grey_300;
};
.grey_300_hover:hover {
color: $grey_300;
};
$grey_400: #8f97a3;
.grey_400 {
color: $grey_400;
};
.grey_400_bg {
background-color: $grey_400;
};
.grey_400_bg_hover:hover {
background-color: $grey_400;
};
.grey_400_border {
border-color: $grey_400;
};
.grey_400_border_hover:hover {
border-color: $grey_400;
};
.grey_400_hover:hover {
color: $grey_400;
};
$grey_500: #737d8c;
.grey_500 {
color: $grey_500;
};
.grey_500_bg {
background-color: $grey_500;
};
.grey_500_bg_hover:hover {
background-color: $grey_500;
};
.grey_500_border {
border-color: $grey_500;
};
.grey_500_border_hover:hover {
border-color: $grey_500;
};
.grey_500_hover:hover {
color: $grey_500;
};
$grey_600: #5c6470;
.grey_600 {
color: $grey_600;
};
.grey_600_bg {
background-color: $grey_600;
};
.grey_600_bg_hover:hover {
background-color: $grey_600;
};
.grey_600_border {
border-color: $grey_600;
};
.grey_600_border_hover:hover {
border-color: $grey_600;
};
.grey_600_hover:hover {
color: $grey_600;
};
$grey_700: #454b54;
.grey_700 {
color: $grey_700;
};
.grey_700_bg {
background-color: $grey_700;
};
.grey_700_bg_hover:hover {
background-color: $grey_700;
};
.grey_700_border {
border-color: $grey_700;
};
.grey_700_border_hover:hover {
border-color: $grey_700;
};
.grey_700_hover:hover {
color: $grey_700;
};
$grey_800: #2e3238;
.grey_800 {
color: $grey_800;
};
.grey_800_bg {
background-color: $grey_800;
};
.grey_800_bg_hover:hover {
background-color: $grey_800;
};
.grey_800_border {
border-color: $grey_800;
};
.grey_800_border_hover:hover {
border-color: $grey_800;
};
.grey_800_hover:hover {
color: $grey_800;
};
$grey_900: #17191c;
.grey_900 {
color: $grey_900;
};
.grey_900_bg {
background-color: $grey_900;
};
.grey_900_bg_hover:hover {
background-color: $grey_900;
};
.grey_900_border {
border-color: $grey_900;
};
.grey_900_border_hover:hover {
border-color: $grey_900;
};
.grey_900_hover:hover {
color: $grey_900;
};
$grey_1000: #000000;
.grey_1000 {
color: $grey_1000;
};
.grey_1000_bg {
background-color: $grey_1000;
};
.grey_1000_bg_hover:hover {
background-color: $grey_1000;
};
.grey_1000_border {
border-color: $grey_1000;
};
.grey_1000_border_hover:hover {
border-color: $grey_1000;
};
.grey_1000_hover:hover {
color: $grey_1000;
};
$desktop_padding_700: 2.25rem;
.desktop_padding_700 {
padding: $desktop_padding_700;
};
.desktop_padding_700_right {
padding-right: $desktop_padding_700;
};
.desktop_padding_700_left {
padding-left: $desktop_padding_700;
};
.desktop_padding_700_top {
padding-top: $desktop_padding_700;
};
.desktop_padding_700_bottom {
padding-bottom: $desktop_padding_700;
};
.desktop_padding_700_horizontal {
padding-left: $desktop_padding_700;
padding-right: $desktop_padding_700;
};
.desktop_padding_700_vertical {
padding-top: $desktop_padding_700;
padding-bottom: $desktop_padding_700;
};
$desktop_padding_600: 1.75rem;
.desktop_padding_600 {
padding: $desktop_padding_600;
};
.desktop_padding_600_right {
padding-right: $desktop_padding_600;
};
.desktop_padding_600_left {
padding-left: $desktop_padding_600;
};
.desktop_padding_600_top {
padding-top: $desktop_padding_600;
};
.desktop_padding_600_bottom {
padding-bottom: $desktop_padding_600;
};
.desktop_padding_600_horizontal {
padding-left: $desktop_padding_600;
padding-right: $desktop_padding_600;
};
.desktop_padding_600_vertical {
padding-top: $desktop_padding_600;
padding-bottom: $desktop_padding_600;
};
$desktop_padding_500: 1.25rem;
.desktop_padding_500 {
padding: $desktop_padding_500;
};
.desktop_padding_500_right {
padding-right: $desktop_padding_500;
};
.desktop_padding_500_left {
padding-left: $desktop_padding_500;
};
.desktop_padding_500_top {
padding-top: $desktop_padding_500;
};
.desktop_padding_500_bottom {
padding-bottom: $desktop_padding_500;
};
.desktop_padding_500_horizontal {
padding-left: $desktop_padding_500;
padding-right: $desktop_padding_500;
};
.desktop_padding_500_vertical {
padding-top: $desktop_padding_500;
padding-bottom: $desktop_padding_500;
};
$desktop_padding_400: 1rem;
.desktop_padding_400 {
padding: $desktop_padding_400;
};
.desktop_padding_400_right {
padding-right: $desktop_padding_400;
};
.desktop_padding_400_left {
padding-left: $desktop_padding_400;
};
.desktop_padding_400_top {
padding-top: $desktop_padding_400;
};
.desktop_padding_400_bottom {
padding-bottom: $desktop_padding_400;
};
.desktop_padding_400_horizontal {
padding-left: $desktop_padding_400;
padding-right: $desktop_padding_400;
};
.desktop_padding_400_vertical {
padding-top: $desktop_padding_400;
padding-bottom: $desktop_padding_400;
};
$desktop_padding_300: 0.75rem;
.desktop_padding_300 {
padding: $desktop_padding_300;
};
.desktop_padding_300_right {
padding-right: $desktop_padding_300;
};
.desktop_padding_300_left {
padding-left: $desktop_padding_300;
};
.desktop_padding_300_top {
padding-top: $desktop_padding_300;
};
.desktop_padding_300_bottom {
padding-bottom: $desktop_padding_300;
};
.desktop_padding_300_horizontal {
padding-left: $desktop_padding_300;
padding-right: $desktop_padding_300;
};
.desktop_padding_300_vertical {
padding-top: $desktop_padding_300;
padding-bottom: $desktop_padding_300;
};
$desktop_padding_200: 0.5rem;
.desktop_padding_200 {
padding: $desktop_padding_200;
};
.desktop_padding_200_right {
padding-right: $desktop_padding_200;
};
.desktop_padding_200_left {
padding-left: $desktop_padding_200;
};
.desktop_padding_200_top {
padding-top: $desktop_padding_200;
};
.desktop_padding_200_bottom {
padding-bottom: $desktop_padding_200;
};
.desktop_padding_200_horizontal {
padding-left: $desktop_padding_200;
padding-right: $desktop_padding_200;
};
.desktop_padding_200_vertical {
padding-top: $desktop_padding_200;
padding-bottom: $desktop_padding_200;
};
$desktop_padding_100: 0.25rem;
.desktop_padding_100 {
padding: $desktop_padding_100;
};
.desktop_padding_100_right {
padding-right: $desktop_padding_100;
};
.desktop_padding_100_left {
padding-left: $desktop_padding_100;
};
.desktop_padding_100_top {
padding-top: $desktop_padding_100;
};
.desktop_padding_100_bottom {
padding-bottom: $desktop_padding_100;
};
.desktop_padding_100_horizontal {
padding-left: $desktop_padding_100;
padding-right: $desktop_padding_100;
};
.desktop_padding_100_vertical {
padding-top: $desktop_padding_100;
padding-bottom: $desktop_padding_100;
};
$desktop_padding_800: 2.75rem;
.desktop_padding_800 {
padding: $desktop_padding_800;
};
.desktop_padding_800_right {
padding-right: $desktop_padding_800;
};
.desktop_padding_800_left {
padding-left: $desktop_padding_800;
};
.desktop_padding_800_top {
padding-top: $desktop_padding_800;
};
.desktop_padding_800_bottom {
padding-bottom: $desktop_padding_800;
};
.desktop_padding_800_horizontal {
padding-left: $desktop_padding_800;
padding-right: $desktop_padding_800;
};
.desktop_padding_800_vertical {
padding-top: $desktop_padding_800;
padding-bottom: $desktop_padding_800;
};
$desktop_padding_900: 3.25rem;
.desktop_padding_900 {
padding: $desktop_padding_900;
};
.desktop_padding_900_right {
padding-right: $desktop_padding_900;
};
.desktop_padding_900_left {
padding-left: $desktop_padding_900;
};
.desktop_padding_900_top {
padding-top: $desktop_padding_900;
};
.desktop_padding_900_bottom {
padding-bottom: $desktop_padding_900;
};
.desktop_padding_900_horizontal {
padding-left: $desktop_padding_900;
padding-right: $desktop_padding_900;
};
.desktop_padding_900_vertical {
padding-top: $desktop_padding_900;
padding-bottom: $desktop_padding_900;
};
$desktop_padding_1000: 3.75rem;
.desktop_padding_1000 {
padding: $desktop_padding_1000;
};
.desktop_padding_1000_right {
padding-right: $desktop_padding_1000;
};
.desktop_padding_1000_left {
padding-left: $desktop_padding_1000;
};
.desktop_padding_1000_top {
padding-top: $desktop_padding_1000;
};
.desktop_padding_1000_bottom {
padding-bottom: $desktop_padding_1000;
};
.desktop_padding_1000_horizontal {
padding-left: $desktop_padding_1000;
padding-right: $desktop_padding_1000;
};
.desktop_padding_1000_vertical {
padding-top: $desktop_padding_1000;
padding-bottom: $desktop_padding_1000;
};
$desktop_margin_700: 3.75rem;
.desktop_margin_700 {
margin: $desktop_margin_700;
};
.desktop_margin_700_right {
margin-right: $desktop_margin_700;
};
.desktop_margin_700_left {
margin-left: $desktop_margin_700;
};
.desktop_margin_700_top {
margin-top: $desktop_margin_700;
};
.desktop_margin_700_bottom {
margin-bottom: $desktop_margin_700;
};
.desktop_margin_700_horizontal {
margin-left: $desktop_margin_700;
margin-right: $desktop_margin_700;
};
.desktop_margin_700_vertical {
margin-top: $desktop_margin_700;
margin-bottom: $desktop_margin_700;
};
$desktop_margin_600: 2.75rem;
.desktop_margin_600 {
margin: $desktop_margin_600;
};
.desktop_margin_600_right {
margin-right: $desktop_margin_600;
};
.desktop_margin_600_left {
margin-left: $desktop_margin_600;
};
.desktop_margin_600_top {
margin-top: $desktop_margin_600;
};
.desktop_margin_600_bottom {
margin-bottom: $desktop_margin_600;
};
.desktop_margin_600_horizontal {
margin-left: $desktop_margin_600;
margin-right: $desktop_margin_600;
};
.desktop_margin_600_vertical {
margin-top: $desktop_margin_600;
margin-bottom: $desktop_margin_600;
};
$desktop_margin_500: 2.125rem;
.desktop_margin_500 {
margin: $desktop_margin_500;
};
.desktop_margin_500_right {
margin-right: $desktop_margin_500;
};
.desktop_margin_500_left {
margin-left: $desktop_margin_500;
};
.desktop_margin_500_top {
margin-top: $desktop_margin_500;
};
.desktop_margin_500_bottom {
margin-bottom: $desktop_margin_500;
};
.desktop_margin_500_horizontal {
margin-left: $desktop_margin_500;
margin-right: $desktop_margin_500;
};
.desktop_margin_500_vertical {
margin-top: $desktop_margin_500;
margin-bottom: $desktop_margin_500;
};
$desktop_margin_400: 1.5rem;
.desktop_margin_400 {
margin: $desktop_margin_400;
};
.desktop_margin_400_right {
margin-right: $desktop_margin_400;
};
.desktop_margin_400_left {
margin-left: $desktop_margin_400;
};
.desktop_margin_400_top {
margin-top: $desktop_margin_400;
};
.desktop_margin_400_bottom {
margin-bottom: $desktop_margin_400;
};
.desktop_margin_400_horizontal {
margin-left: $desktop_margin_400;
margin-right: $desktop_margin_400;
};
.desktop_margin_400_vertical {
margin-top: $desktop_margin_400;
margin-bottom: $desktop_margin_400;
};
$desktop_margin_300: 1.125rem;
.desktop_margin_300 {
margin: $desktop_margin_300;
};
.desktop_margin_300_right {
margin-right: $desktop_margin_300;
};
.desktop_margin_300_left {
margin-left: $desktop_margin_300;
};
.desktop_margin_300_top {
margin-top: $desktop_margin_300;
};
.desktop_margin_300_bottom {
margin-bottom: $desktop_margin_300;
};
.desktop_margin_300_horizontal {
margin-left: $desktop_margin_300;
margin-right: $desktop_margin_300;
};
.desktop_margin_300_vertical {
margin-top: $desktop_margin_300;
margin-bottom: $desktop_margin_300;
};
$desktop_margin_200: 0.75rem;
.desktop_margin_200 {
margin: $desktop_margin_200;
};
.desktop_margin_200_right {
margin-right: $desktop_margin_200;
};
.desktop_margin_200_left {
margin-left: $desktop_margin_200;
};
.desktop_margin_200_top {
margin-top: $desktop_margin_200;
};
.desktop_margin_200_bottom {
margin-bottom: $desktop_margin_200;
};
.desktop_margin_200_horizontal {
margin-left: $desktop_margin_200;
margin-right: $desktop_margin_200;
};
.desktop_margin_200_vertical {
margin-top: $desktop_margin_200;
margin-bottom: $desktop_margin_200;
};
$desktop_margin_100: 0.375rem;
.desktop_margin_100 {
margin: $desktop_margin_100;
};
.desktop_margin_100_right {
margin-right: $desktop_margin_100;
};
.desktop_margin_100_left {
margin-left: $desktop_margin_100;
};
.desktop_margin_100_top {
margin-top: $desktop_margin_100;
};
.desktop_margin_100_bottom {
margin-bottom: $desktop_margin_100;
};
.desktop_margin_100_horizontal {
margin-left: $desktop_margin_100;
margin-right: $desktop_margin_100;
};
.desktop_margin_100_vertical {
margin-top: $desktop_margin_100;
margin-bottom: $desktop_margin_100;
};
$desktop_margin_800: 4.75rem;
.desktop_margin_800 {
margin: $desktop_margin_800;
};
.desktop_margin_800_right {
margin-right: $desktop_margin_800;
};
.desktop_margin_800_left {
margin-left: $desktop_margin_800;
};
.desktop_margin_800_top {
margin-top: $desktop_margin_800;
};
.desktop_margin_800_bottom {
margin-bottom: $desktop_margin_800;
};
.desktop_margin_800_horizontal {
margin-left: $desktop_margin_800;
margin-right: $desktop_margin_800;
};
.desktop_margin_800_vertical {
margin-top: $desktop_margin_800;
margin-bottom: $desktop_margin_800;
};
$desktop_margin_900: 6.25rem;
.desktop_margin_900 {
margin: $desktop_margin_900;
};
.desktop_margin_900_right {
margin-right: $desktop_margin_900;
};
.desktop_margin_900_left {
margin-left: $desktop_margin_900;
};
.desktop_margin_900_top {
margin-top: $desktop_margin_900;
};
.desktop_margin_900_bottom {
margin-bottom: $desktop_margin_900;
};
.desktop_margin_900_horizontal {
margin-left: $desktop_margin_900;
margin-right: $desktop_margin_900;
};
.desktop_margin_900_vertical {
margin-top: $desktop_margin_900;
margin-bottom: $desktop_margin_900;
};
$desktop_margin_1000: 7.75rem;
.desktop_margin_1000 {
margin: $desktop_margin_1000;
};
.desktop_margin_1000_right {
margin-right: $desktop_margin_1000;
};
.desktop_margin_1000_left {
margin-left: $desktop_margin_1000;
};
.desktop_margin_1000_top {
margin-top: $desktop_margin_1000;
};
.desktop_margin_1000_bottom {
margin-bottom: $desktop_margin_1000;
};
.desktop_margin_1000_horizontal {
margin-left: $desktop_margin_1000;
margin-right: $desktop_margin_1000;
};
.desktop_margin_1000_vertical {
margin-top: $desktop_margin_1000;
margin-bottom: $desktop_margin_1000;
};
$desktop_radius_full: 62.5rem;
.desktop_radius_full {
border-radius: $desktop_radius_full;
};
$desktop_radius_600: 1.5rem;
.desktop_radius_600 {
border-radius: $desktop_radius_600;
};
$desktop_radius_500: 1.25rem;
.desktop_radius_500 {
border-radius: $desktop_radius_500;
};
$desktop_radius_400: 1rem;
.desktop_radius_400 {
border-radius: $desktop_radius_400;
};
$desktop_radius_300: 0.75rem;
.desktop_radius_300 {
border-radius: $desktop_radius_300;
};
$desktop_radius_200: 0.5rem;
.desktop_radius_200 {
border-radius: $desktop_radius_200;
};
$desktop_radius_100: 0.25rem;
.desktop_radius_100 {
border-radius: $desktop_radius_100;
};
$desktop_radius_700: 2rem;
.desktop_radius_700 {
border-radius: $desktop_radius_700;
};
$desktop_radius_800: 2.5rem;
.desktop_radius_800 {
border-radius: $desktop_radius_800;
};
$desktop_radius_900: 3rem;
.desktop_radius_900 {
border-radius: $desktop_radius_900;
};
$desktop_radius_1000: 3.5rem;
.desktop_radius_1000 {
border-radius: $desktop_radius_1000;
};
$tablet_padding_700: 2rem;
.tablet_padding_700 {
padding: $tablet_padding_700;
};
.tablet_padding_700_right {
padding-right: $tablet_padding_700;
};
.tablet_padding_700_left {
padding-left: $tablet_padding_700;
};
.tablet_padding_700_top {
padding-top: $tablet_padding_700;
};
.tablet_padding_700_bottom {
padding-bottom: $tablet_padding_700;
};
.tablet_padding_700_horizontal {
padding-left: $tablet_padding_700;
padding-right: $tablet_padding_700;
};
.tablet_padding_700_vertical {
padding-top: $tablet_padding_700;
padding-bottom: $tablet_padding_700;
};
$tablet_padding_600: 1.5rem;
.tablet_padding_600 {
padding: $tablet_padding_600;
};
.tablet_padding_600_right {
padding-right: $tablet_padding_600;
};
.tablet_padding_600_left {
padding-left: $tablet_padding_600;
};
.tablet_padding_600_top {
padding-top: $tablet_padding_600;
};
.tablet_padding_600_bottom {
padding-bottom: $tablet_padding_600;
};
.tablet_padding_600_horizontal {
padding-left: $tablet_padding_600;
padding-right: $tablet_padding_600;
};
.tablet_padding_600_vertical {
padding-top: $tablet_padding_600;
padding-bottom: $tablet_padding_600;
};
$tablet_padding_500: 1.125rem;
.tablet_padding_500 {
padding: $tablet_padding_500;
};
.tablet_padding_500_right {
padding-right: $tablet_padding_500;
};
.tablet_padding_500_left {
padding-left: $tablet_padding_500;
};
.tablet_padding_500_top {
padding-top: $tablet_padding_500;
};
.tablet_padding_500_bottom {
padding-bottom: $tablet_padding_500;
};
.tablet_padding_500_horizontal {
padding-left: $tablet_padding_500;
padding-right: $tablet_padding_500;
};
.tablet_padding_500_vertical {
padding-top: $tablet_padding_500;
padding-bottom: $tablet_padding_500;
};
$tablet_padding_400: 0.875rem;
.tablet_padding_400 {
padding: $tablet_padding_400;
};
.tablet_padding_400_right {
padding-right: $tablet_padding_400;
};
.tablet_padding_400_left {
padding-left: $tablet_padding_400;
};
.tablet_padding_400_top {
padding-top: $tablet_padding_400;
};
.tablet_padding_400_bottom {
padding-bottom: $tablet_padding_400;
};
.tablet_padding_400_horizontal {
padding-left: $tablet_padding_400;
padding-right: $tablet_padding_400;
};
.tablet_padding_400_vertical {
padding-top: $tablet_padding_400;
padding-bottom: $tablet_padding_400;
};
$tablet_padding_300: 0.625rem;
.tablet_padding_300 {
padding: $tablet_padding_300;
};
.tablet_padding_300_right {
padding-right: $tablet_padding_300;
};
.tablet_padding_300_left {
padding-left: $tablet_padding_300;
};
.tablet_padding_300_top {
padding-top: $tablet_padding_300;
};
.tablet_padding_300_bottom {
padding-bottom: $tablet_padding_300;
};
.tablet_padding_300_horizontal {
padding-left: $tablet_padding_300;
padding-right: $tablet_padding_300;
};
.tablet_padding_300_vertical {
padding-top: $tablet_padding_300;
padding-bottom: $tablet_padding_300;
};
$tablet_padding_200: 0.375rem;
.tablet_padding_200 {
padding: $tablet_padding_200;
};
.tablet_padding_200_right {
padding-right: $tablet_padding_200;
};
.tablet_padding_200_left {
padding-left: $tablet_padding_200;
};
.tablet_padding_200_top {
padding-top: $tablet_padding_200;
};
.tablet_padding_200_bottom {
padding-bottom: $tablet_padding_200;
};
.tablet_padding_200_horizontal {
padding-left: $tablet_padding_200;
padding-right: $tablet_padding_200;
};
.tablet_padding_200_vertical {
padding-top: $tablet_padding_200;
padding-bottom: $tablet_padding_200;
};
$tablet_padding_100: 0.1875rem;
.tablet_padding_100 {
padding: $tablet_padding_100;
};
.tablet_padding_100_right {
padding-right: $tablet_padding_100;
};
.tablet_padding_100_left {
padding-left: $tablet_padding_100;
};
.tablet_padding_100_top {
padding-top: $tablet_padding_100;
};
.tablet_padding_100_bottom {
padding-bottom: $tablet_padding_100;
};
.tablet_padding_100_horizontal {
padding-left: $tablet_padding_100;
padding-right: $tablet_padding_100;
};
.tablet_padding_100_vertical {
padding-top: $tablet_padding_100;
padding-bottom: $tablet_padding_100;
};
$tablet_padding_800: 2.5rem;
.tablet_padding_800 {
padding: $tablet_padding_800;
};
.tablet_padding_800_right {
padding-right: $tablet_padding_800;
};
.tablet_padding_800_left {
padding-left: $tablet_padding_800;
};
.tablet_padding_800_top {
padding-top: $tablet_padding_800;
};
.tablet_padding_800_bottom {
padding-bottom: $tablet_padding_800;
};
.tablet_padding_800_horizontal {
padding-left: $tablet_padding_800;
padding-right: $tablet_padding_800;
};
.tablet_padding_800_vertical {
padding-top: $tablet_padding_800;
padding-bottom: $tablet_padding_800;
};
$tablet_padding_900: 2.875rem;
.tablet_padding_900 {
padding: $tablet_padding_900;
};
.tablet_padding_900_right {
padding-right: $tablet_padding_900;
};
.tablet_padding_900_left {
padding-left: $tablet_padding_900;
};
.tablet_padding_900_top {
padding-top: $tablet_padding_900;
};
.tablet_padding_900_bottom {
padding-bottom: $tablet_padding_900;
};
.tablet_padding_900_horizontal {
padding-left: $tablet_padding_900;
padding-right: $tablet_padding_900;
};
.tablet_padding_900_vertical {
padding-top: $tablet_padding_900;
padding-bottom: $tablet_padding_900;
};
$tablet_padding_1000: 3.75rem;
.tablet_padding_1000 {
padding: $tablet_padding_1000;
};
.tablet_padding_1000_right {
padding-right: $tablet_padding_1000;
};
.tablet_padding_1000_left {
padding-left: $tablet_padding_1000;
};
.tablet_padding_1000_top {
padding-top: $tablet_padding_1000;
};
.tablet_padding_1000_bottom {
padding-bottom: $tablet_padding_1000;
};
.tablet_padding_1000_horizontal {
padding-left: $tablet_padding_1000;
padding-right: $tablet_padding_1000;
};
.tablet_padding_1000_vertical {
padding-top: $tablet_padding_1000;
padding-bottom: $tablet_padding_1000;
};
$tablet_margin_700: 3rem;
.tablet_margin_700 {
margin: $tablet_margin_700;
};
.tablet_margin_700_right {
margin-right: $tablet_margin_700;
};
.tablet_margin_700_left {
margin-left: $tablet_margin_700;
};
.tablet_margin_700_top {
margin-top: $tablet_margin_700;
};
.tablet_margin_700_bottom {
margin-bottom: $tablet_margin_700;
};
.tablet_margin_700_horizontal {
margin-left: $tablet_margin_700;
margin-right: $tablet_margin_700;
};
.tablet_margin_700_vertical {
margin-top: $tablet_margin_700;
margin-bottom: $tablet_margin_700;
};
$tablet_margin_600: 2.25rem;
.tablet_margin_600 {
margin: $tablet_margin_600;
};
.tablet_margin_600_right {
margin-right: $tablet_margin_600;
};
.tablet_margin_600_left {
margin-left: $tablet_margin_600;
};
.tablet_margin_600_top {
margin-top: $tablet_margin_600;
};
.tablet_margin_600_bottom {
margin-bottom: $tablet_margin_600;
};
.tablet_margin_600_horizontal {
margin-left: $tablet_margin_600;
margin-right: $tablet_margin_600;
};
.tablet_margin_600_vertical {
margin-top: $tablet_margin_600;
margin-bottom: $tablet_margin_600;
};
$tablet_margin_500: 1.75rem;
.tablet_margin_500 {
margin: $tablet_margin_500;
};
.tablet_margin_500_right {
margin-right: $tablet_margin_500;
};
.tablet_margin_500_left {
margin-left: $tablet_margin_500;
};
.tablet_margin_500_top {
margin-top: $tablet_margin_500;
};
.tablet_margin_500_bottom {
margin-bottom: $tablet_margin_500;
};
.tablet_margin_500_horizontal {
margin-left: $tablet_margin_500;
margin-right: $tablet_margin_500;
};
.tablet_margin_500_vertical {
margin-top: $tablet_margin_500;
margin-bottom: $tablet_margin_500;
};
$tablet_margin_400: 1.25rem;
.tablet_margin_400 {
margin: $tablet_margin_400;
};
.tablet_margin_400_right {
margin-right: $tablet_margin_400;
};
.tablet_margin_400_left {
margin-left: $tablet_margin_400;
};
.tablet_margin_400_top {
margin-top: $tablet_margin_400;
};
.tablet_margin_400_bottom {
margin-bottom: $tablet_margin_400;
};
.tablet_margin_400_horizontal {
margin-left: $tablet_margin_400;
margin-right: $tablet_margin_400;
};
.tablet_margin_400_vertical {
margin-top: $tablet_margin_400;
margin-bottom: $tablet_margin_400;
};
$tablet_margin_300: 0.875rem;
.tablet_margin_300 {
margin: $tablet_margin_300;
};
.tablet_margin_300_right {
margin-right: $tablet_margin_300;
};
.tablet_margin_300_left {
margin-left: $tablet_margin_300;
};
.tablet_margin_300_top {
margin-top: $tablet_margin_300;
};
.tablet_margin_300_bottom {
margin-bottom: $tablet_margin_300;
};
.tablet_margin_300_horizontal {
margin-left: $tablet_margin_300;
margin-right: $tablet_margin_300;
};
.tablet_margin_300_vertical {
margin-top: $tablet_margin_300;
margin-bottom: $tablet_margin_300;
};
$tablet_margin_200: 0.625rem;
.tablet_margin_200 {
margin: $tablet_margin_200;
};
.tablet_margin_200_right {
margin-right: $tablet_margin_200;
};
.tablet_margin_200_left {
margin-left: $tablet_margin_200;
};
.tablet_margin_200_top {
margin-top: $tablet_margin_200;
};
.tablet_margin_200_bottom {
margin-bottom: $tablet_margin_200;
};
.tablet_margin_200_horizontal {
margin-left: $tablet_margin_200;
margin-right: $tablet_margin_200;
};
.tablet_margin_200_vertical {
margin-top: $tablet_margin_200;
margin-bottom: $tablet_margin_200;
};
$tablet_margin_100: 0.25rem;
.tablet_margin_100 {
margin: $tablet_margin_100;
};
.tablet_margin_100_right {
margin-right: $tablet_margin_100;
};
.tablet_margin_100_left {
margin-left: $tablet_margin_100;
};
.tablet_margin_100_top {
margin-top: $tablet_margin_100;
};
.tablet_margin_100_bottom {
margin-bottom: $tablet_margin_100;
};
.tablet_margin_100_horizontal {
margin-left: $tablet_margin_100;
margin-right: $tablet_margin_100;
};
.tablet_margin_100_vertical {
margin-top: $tablet_margin_100;
margin-bottom: $tablet_margin_100;
};
$tablet_margin_800: 4.25rem;
.tablet_margin_800 {
margin: $tablet_margin_800;
};
.tablet_margin_800_right {
margin-right: $tablet_margin_800;
};
.tablet_margin_800_left {
margin-left: $tablet_margin_800;
};
.tablet_margin_800_top {
margin-top: $tablet_margin_800;
};
.tablet_margin_800_bottom {
margin-bottom: $tablet_margin_800;
};
.tablet_margin_800_horizontal {
margin-left: $tablet_margin_800;
margin-right: $tablet_margin_800;
};
.tablet_margin_800_vertical {
margin-top: $tablet_margin_800;
margin-bottom: $tablet_margin_800;
};
$tablet_margin_900: 5rem;
.tablet_margin_900 {
margin: $tablet_margin_900;
};
.tablet_margin_900_right {
margin-right: $tablet_margin_900;
};
.tablet_margin_900_left {
margin-left: $tablet_margin_900;
};
.tablet_margin_900_top {
margin-top: $tablet_margin_900;
};
.tablet_margin_900_bottom {
margin-bottom: $tablet_margin_900;
};
.tablet_margin_900_horizontal {
margin-left: $tablet_margin_900;
margin-right: $tablet_margin_900;
};
.tablet_margin_900_vertical {
margin-top: $tablet_margin_900;
margin-bottom: $tablet_margin_900;
};
$tablet_margin_1000: 7.75rem;
.tablet_margin_1000 {
margin: $tablet_margin_1000;
};
.tablet_margin_1000_right {
margin-right: $tablet_margin_1000;
};
.tablet_margin_1000_left {
margin-left: $tablet_margin_1000;
};
.tablet_margin_1000_top {
margin-top: $tablet_margin_1000;
};
.tablet_margin_1000_bottom {
margin-bottom: $tablet_margin_1000;
};
.tablet_margin_1000_horizontal {
margin-left: $tablet_margin_1000;
margin-right: $tablet_margin_1000;
};
.tablet_margin_1000_vertical {
margin-top: $tablet_margin_1000;
margin-bottom: $tablet_margin_1000;
};
$tablet_radius_full: 62.5rem;
.tablet_radius_full {
border-radius: $tablet_radius_full;
};
$tablet_radius_600: 1.125rem;
.tablet_radius_600 {
border-radius: $tablet_radius_600;
};
$tablet_radius_500: 0.9375rem;
.tablet_radius_500 {
border-radius: $tablet_radius_500;
};
$tablet_radius_400: 0.75rem;
.tablet_radius_400 {
border-radius: $tablet_radius_400;
};
$tablet_radius_300: 0.5625rem;
.tablet_radius_300 {
border-radius: $tablet_radius_300;
};
$tablet_radius_200: 0.375rem;
.tablet_radius_200 {
border-radius: $tablet_radius_200;
};
$tablet_radius_100: 0.1875rem;
.tablet_radius_100 {
border-radius: $tablet_radius_100;
};
$tablet_radius_700: 1.625rem;
.tablet_radius_700 {
border-radius: $tablet_radius_700;
};
$tablet_radius_800: 2rem;
.tablet_radius_800 {
border-radius: $tablet_radius_800;
};
$tablet_radius_900: 2.375rem;
.tablet_radius_900 {
border-radius: $tablet_radius_900;
};
$tablet_radius_1000: 2.875rem;
.tablet_radius_1000 {
border-radius: $tablet_radius_1000;
};
$mobile_padding_700: 1.875rem;
.mobile_padding_700 {
padding: $mobile_padding_700;
};
.mobile_padding_700_right {
padding-right: $mobile_padding_700;
};
.mobile_padding_700_left {
padding-left: $mobile_padding_700;
};
.mobile_padding_700_top {
padding-top: $mobile_padding_700;
};
.mobile_padding_700_bottom {
padding-bottom: $mobile_padding_700;
};
.mobile_padding_700_horizontal {
padding-left: $mobile_padding_700;
padding-right: $mobile_padding_700;
};
.mobile_padding_700_vertical {
padding-top: $mobile_padding_700;
padding-bottom: $mobile_padding_700;
};
$mobile_padding_600: 1.375rem;
.mobile_padding_600 {
padding: $mobile_padding_600;
};
.mobile_padding_600_right {
padding-right: $mobile_padding_600;
};
.mobile_padding_600_left {
padding-left: $mobile_padding_600;
};
.mobile_padding_600_top {
padding-top: $mobile_padding_600;
};
.mobile_padding_600_bottom {
padding-bottom: $mobile_padding_600;
};
.mobile_padding_600_horizontal {
padding-left: $mobile_padding_600;
padding-right: $mobile_padding_600;
};
.mobile_padding_600_vertical {
padding-top: $mobile_padding_600;
padding-bottom: $mobile_padding_600;
};
$mobile_padding_500: 1rem;
.mobile_padding_500 {
padding: $mobile_padding_500;
};
.mobile_padding_500_right {
padding-right: $mobile_padding_500;
};
.mobile_padding_500_left {
padding-left: $mobile_padding_500;
};
.mobile_padding_500_top {
padding-top: $mobile_padding_500;
};
.mobile_padding_500_bottom {
padding-bottom: $mobile_padding_500;
};
.mobile_padding_500_horizontal {
padding-left: $mobile_padding_500;
padding-right: $mobile_padding_500;
};
.mobile_padding_500_vertical {
padding-top: $mobile_padding_500;
padding-bottom: $mobile_padding_500;
};
$mobile_padding_400: 0.75rem;
.mobile_padding_400 {
padding: $mobile_padding_400;
};
.mobile_padding_400_right {
padding-right: $mobile_padding_400;
};
.mobile_padding_400_left {
padding-left: $mobile_padding_400;
};
.mobile_padding_400_top {
padding-top: $mobile_padding_400;
};
.mobile_padding_400_bottom {
padding-bottom: $mobile_padding_400;
};
.mobile_padding_400_horizontal {
padding-left: $mobile_padding_400;
padding-right: $mobile_padding_400;
};
.mobile_padding_400_vertical {
padding-top: $mobile_padding_400;
padding-bottom: $mobile_padding_400;
};
$mobile_padding_300: 0.5rem;
.mobile_padding_300 {
padding: $mobile_padding_300;
};
.mobile_padding_300_right {
padding-right: $mobile_padding_300;
};
.mobile_padding_300_left {
padding-left: $mobile_padding_300;
};
.mobile_padding_300_top {
padding-top: $mobile_padding_300;
};
.mobile_padding_300_bottom {
padding-bottom: $mobile_padding_300;
};
.mobile_padding_300_horizontal {
padding-left: $mobile_padding_300;
padding-right: $mobile_padding_300;
};
.mobile_padding_300_vertical {
padding-top: $mobile_padding_300;
padding-bottom: $mobile_padding_300;
};
$mobile_padding_200: 0.25rem;
.mobile_padding_200 {
padding: $mobile_padding_200;
};
.mobile_padding_200_right {
padding-right: $mobile_padding_200;
};
.mobile_padding_200_left {
padding-left: $mobile_padding_200;
};
.mobile_padding_200_top {
padding-top: $mobile_padding_200;
};
.mobile_padding_200_bottom {
padding-bottom: $mobile_padding_200;
};
.mobile_padding_200_horizontal {
padding-left: $mobile_padding_200;
padding-right: $mobile_padding_200;
};
.mobile_padding_200_vertical {
padding-top: $mobile_padding_200;
padding-bottom: $mobile_padding_200;
};
$mobile_padding_100: 0.125rem;
.mobile_padding_100 {
padding: $mobile_padding_100;
};
.mobile_padding_100_right {
padding-right: $mobile_padding_100;
};
.mobile_padding_100_left {
padding-left: $mobile_padding_100;
};
.mobile_padding_100_top {
padding-top: $mobile_padding_100;
};
.mobile_padding_100_bottom {
padding-bottom: $mobile_padding_100;
};
.mobile_padding_100_horizontal {
padding-left: $mobile_padding_100;
padding-right: $mobile_padding_100;
};
.mobile_padding_100_vertical {
padding-top: $mobile_padding_100;
padding-bottom: $mobile_padding_100;
};
$mobile_padding_800: 2.25rem;
.mobile_padding_800 {
padding: $mobile_padding_800;
};
.mobile_padding_800_right {
padding-right: $mobile_padding_800;
};
.mobile_padding_800_left {
padding-left: $mobile_padding_800;
};
.mobile_padding_800_top {
padding-top: $mobile_padding_800;
};
.mobile_padding_800_bottom {
padding-bottom: $mobile_padding_800;
};
.mobile_padding_800_horizontal {
padding-left: $mobile_padding_800;
padding-right: $mobile_padding_800;
};
.mobile_padding_800_vertical {
padding-top: $mobile_padding_800;
padding-bottom: $mobile_padding_800;
};
$mobile_padding_900: 3.25rem;
.mobile_padding_900 {
padding: $mobile_padding_900;
};
.mobile_padding_900_right {
padding-right: $mobile_padding_900;
};
.mobile_padding_900_left {
padding-left: $mobile_padding_900;
};
.mobile_padding_900_top {
padding-top: $mobile_padding_900;
};
.mobile_padding_900_bottom {
padding-bottom: $mobile_padding_900;
};
.mobile_padding_900_horizontal {
padding-left: $mobile_padding_900;
padding-right: $mobile_padding_900;
};
.mobile_padding_900_vertical {
padding-top: $mobile_padding_900;
padding-bottom: $mobile_padding_900;
};
$mobile_padding_1000: 3.75rem;
.mobile_padding_1000 {
padding: $mobile_padding_1000;
};
.mobile_padding_1000_right {
padding-right: $mobile_padding_1000;
};
.mobile_padding_1000_left {
padding-left: $mobile_padding_1000;
};
.mobile_padding_1000_top {
padding-top: $mobile_padding_1000;
};
.mobile_padding_1000_bottom {
padding-bottom: $mobile_padding_1000;
};
.mobile_padding_1000_horizontal {
padding-left: $mobile_padding_1000;
padding-right: $mobile_padding_1000;
};
.mobile_padding_1000_vertical {
padding-top: $mobile_padding_1000;
padding-bottom: $mobile_padding_1000;
};
$mobile_margin_700: 2.5rem;
.mobile_margin_700 {
margin: $mobile_margin_700;
};
.mobile_margin_700_right {
margin-right: $mobile_margin_700;
};
.mobile_margin_700_left {
margin-left: $mobile_margin_700;
};
.mobile_margin_700_top {
margin-top: $mobile_margin_700;
};
.mobile_margin_700_bottom {
margin-bottom: $mobile_margin_700;
};
.mobile_margin_700_horizontal {
margin-left: $mobile_margin_700;
margin-right: $mobile_margin_700;
};
.mobile_margin_700_vertical {
margin-top: $mobile_margin_700;
margin-bottom: $mobile_margin_700;
};
$mobile_margin_600: 2rem;
.mobile_margin_600 {
margin: $mobile_margin_600;
};
.mobile_margin_600_right {
margin-right: $mobile_margin_600;
};
.mobile_margin_600_left {
margin-left: $mobile_margin_600;
};
.mobile_margin_600_top {
margin-top: $mobile_margin_600;
};
.mobile_margin_600_bottom {
margin-bottom: $mobile_margin_600;
};
.mobile_margin_600_horizontal {
margin-left: $mobile_margin_600;
margin-right: $mobile_margin_600;
};
.mobile_margin_600_vertical {
margin-top: $mobile_margin_600;
margin-bottom: $mobile_margin_600;
};
$mobile_margin_500: 1.625rem;
.mobile_margin_500 {
margin: $mobile_margin_500;
};
.mobile_margin_500_right {
margin-right: $mobile_margin_500;
};
.mobile_margin_500_left {
margin-left: $mobile_margin_500;
};
.mobile_margin_500_top {
margin-top: $mobile_margin_500;
};
.mobile_margin_500_bottom {
margin-bottom: $mobile_margin_500;
};
.mobile_margin_500_horizontal {
margin-left: $mobile_margin_500;
margin-right: $mobile_margin_500;
};
.mobile_margin_500_vertical {
margin-top: $mobile_margin_500;
margin-bottom: $mobile_margin_500;
};
$mobile_margin_400: 1.125rem;
.mobile_margin_400 {
margin: $mobile_margin_400;
};
.mobile_margin_400_right {
margin-right: $mobile_margin_400;
};
.mobile_margin_400_left {
margin-left: $mobile_margin_400;
};
.mobile_margin_400_top {
margin-top: $mobile_margin_400;
};
.mobile_margin_400_bottom {
margin-bottom: $mobile_margin_400;
};
.mobile_margin_400_horizontal {
margin-left: $mobile_margin_400;
margin-right: $mobile_margin_400;
};
.mobile_margin_400_vertical {
margin-top: $mobile_margin_400;
margin-bottom: $mobile_margin_400;
};
$mobile_margin_300: 0.75rem;
.mobile_margin_300 {
margin: $mobile_margin_300;
};
.mobile_margin_300_right {
margin-right: $mobile_margin_300;
};
.mobile_margin_300_left {
margin-left: $mobile_margin_300;
};
.mobile_margin_300_top {
margin-top: $mobile_margin_300;
};
.mobile_margin_300_bottom {
margin-bottom: $mobile_margin_300;
};
.mobile_margin_300_horizontal {
margin-left: $mobile_margin_300;
margin-right: $mobile_margin_300;
};
.mobile_margin_300_vertical {
margin-top: $mobile_margin_300;
margin-bottom: $mobile_margin_300;
};
$mobile_margin_200: 0.5rem;
.mobile_margin_200 {
margin: $mobile_margin_200;
};
.mobile_margin_200_right {
margin-right: $mobile_margin_200;
};
.mobile_margin_200_left {
margin-left: $mobile_margin_200;
};
.mobile_margin_200_top {
margin-top: $mobile_margin_200;
};
.mobile_margin_200_bottom {
margin-bottom: $mobile_margin_200;
};
.mobile_margin_200_horizontal {
margin-left: $mobile_margin_200;
margin-right: $mobile_margin_200;
};
.mobile_margin_200_vertical {
margin-top: $mobile_margin_200;
margin-bottom: $mobile_margin_200;
};
$mobile_margin_100: 0.25rem;
.mobile_margin_100 {
margin: $mobile_margin_100;
};
.mobile_margin_100_right {
margin-right: $mobile_margin_100;
};
.mobile_margin_100_left {
margin-left: $mobile_margin_100;
};
.mobile_margin_100_top {
margin-top: $mobile_margin_100;
};
.mobile_margin_100_bottom {
margin-bottom: $mobile_margin_100;
};
.mobile_margin_100_horizontal {
margin-left: $mobile_margin_100;
margin-right: $mobile_margin_100;
};
.mobile_margin_100_vertical {
margin-top: $mobile_margin_100;
margin-bottom: $mobile_margin_100;
};
$mobile_margin_800: 3.75rem;
.mobile_margin_800 {
margin: $mobile_margin_800;
};
.mobile_margin_800_right {
margin-right: $mobile_margin_800;
};
.mobile_margin_800_left {
margin-left: $mobile_margin_800;
};
.mobile_margin_800_top {
margin-top: $mobile_margin_800;
};
.mobile_margin_800_bottom {
margin-bottom: $mobile_margin_800;
};
.mobile_margin_800_horizontal {
margin-left: $mobile_margin_800;
margin-right: $mobile_margin_800;
};
.mobile_margin_800_vertical {
margin-top: $mobile_margin_800;
margin-bottom: $mobile_margin_800;
};
$mobile_margin_900: 4.375rem;
.mobile_margin_900 {
margin: $mobile_margin_900;
};
.mobile_margin_900_right {
margin-right: $mobile_margin_900;
};
.mobile_margin_900_left {
margin-left: $mobile_margin_900;
};
.mobile_margin_900_top {
margin-top: $mobile_margin_900;
};
.mobile_margin_900_bottom {
margin-bottom: $mobile_margin_900;
};
.mobile_margin_900_horizontal {
margin-left: $mobile_margin_900;
margin-right: $mobile_margin_900;
};
.mobile_margin_900_vertical {
margin-top: $mobile_margin_900;
margin-bottom: $mobile_margin_900;
};
$mobile_margin_1000: 7.75rem;
.mobile_margin_1000 {
margin: $mobile_margin_1000;
};
.mobile_margin_1000_right {
margin-right: $mobile_margin_1000;
};
.mobile_margin_1000_left {
margin-left: $mobile_margin_1000;
};
.mobile_margin_1000_top {
margin-top: $mobile_margin_1000;
};
.mobile_margin_1000_bottom {
margin-bottom: $mobile_margin_1000;
};
.mobile_margin_1000_horizontal {
margin-left: $mobile_margin_1000;
margin-right: $mobile_margin_1000;
};
.mobile_margin_1000_vertical {
margin-top: $mobile_margin_1000;
margin-bottom: $mobile_margin_1000;
};
$mobile_radius_full: 62.5rem;
.mobile_radius_full {
border-radius: $mobile_radius_full;
};
$mobile_radius_600: 1rem;
.mobile_radius_600 {
border-radius: $mobile_radius_600;
};
$mobile_radius_500: 0.8125rem;
.mobile_radius_500 {
border-radius: $mobile_radius_500;
};
$mobile_radius_400: 0.625rem;
.mobile_radius_400 {
border-radius: $mobile_radius_400;
};
$mobile_radius_300: 0.375rem;
.mobile_radius_300 {
border-radius: $mobile_radius_300;
};
$mobile_radius_200: 0.3125rem;
.mobile_radius_200 {
border-radius: $mobile_radius_200;
};
$mobile_radius_100: 0.125rem;
.mobile_radius_100 {
border-radius: $mobile_radius_100;
};
$mobile_radius_700: 1.375rem;
.mobile_radius_700 {
border-radius: $mobile_radius_700;
};
$mobile_radius_800: 1.625rem;
.mobile_radius_800 {
border-radius: $mobile_radius_800;
};
$mobile_radius_900: 2rem;
.mobile_radius_900 {
border-radius: $mobile_radius_900;
};
$mobile_radius_1000: 2.875rem;
.mobile_radius_1000 {
border-radius: $mobile_radius_1000;
};
$typo_size_0: 10px;
$typo_size_1: 12px;
$typo_size_2: 14px;
$typo_size_3: 16px;
$typo_size_4: 18px;
$typo_size_5: 20px;
$typo_size_6: 24px;
$typo_size_7: 28px;
$typo_size_8: 32px;
$typo_size_9: 36px;
$typo_size_10: 40px;
$typo_family_josefin-sans: Josefin Sans;
$typo_family_roboto: Roboto;
$typo_line_0: AUTO;
$typo_weight_josefin-sans-0: Bold;
$typo_weight_josefin-sans-1: SemiBold;
$typo_weight_josefin-sans-2: Medium;
$typo_weight_josefin-sans-3: Regular;
$typo_weight_roboto-4: Medium;
$typo_weight_roboto-5: Regular;
$typo_weight_roboto-6: Light;
$typo_letter_0: 0%;
$typo_para_0: 0;
.paragraph_XL {
font-family: $typo_family_roboto;
font-weight: $typo_weight_roboto-4;
font-size: $typo_size_4;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.paragraph_L {
font-family: $typo_family_roboto;
font-weight: $typo_weight_roboto-4;
font-size: $typo_size_3;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.paragraph_M {
font-family: $typo_family_roboto;
font-weight: $typo_weight_roboto-5;
font-size: $typo_size_2;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.paragraph_S {
font-family: $typo_family_roboto;
font-weight: $typo_weight_roboto-5;
font-size: $typo_size_1;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.paragraph_XS {
font-family: $typo_family_roboto;
font-weight: $typo_weight_roboto-6;
font-size: $typo_size_0;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H1 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-0;
font-size: $typo_size_10;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H2 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-0;
font-size: $typo_size_9;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H3 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-1;
font-size: $typo_size_8;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H4 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-2;
font-size: $typo_size_7;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H5 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-3;
font-size: $typo_size_6;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
.heading_H6 {
font-family: $typo_family_josefin-sans;
font-weight: $typo_weight_josefin-sans-3;
font-size: $typo_size_5;
line-height: $typo_line_0;
letter-spacing: $typo_letter_0;
};
