$purple_100: #eadefc;
$purple_200: #cbaff8;
$purple_300: #ad81f4;
$purple_400: #8e52ef;
$purple_500: #7023eb;
$purple_600: #5812c9;
$purple_700: #440e9a;
$purple_800: #2f0a6c;
$purple_900: #1b063d;
$purple_1000: #06010e;
$blue_100: #dee7fc;
$blue_200: #afc4f8;
$blue_300: #81a1f4;
$blue_400: #527ef0;
$blue_500: #225beb;
$blue_600: #1245c9;
$blue_700: #0e359b;
$blue_800: #0a256c;
$blue_900: #05153d;
$blue_1000: #01050e;
$green_100: #defcf4;
$green_200: #aff8e3;
$green_300: #81f4d3;
$green_400: #52efc3;
$green_500: #23ebb2;
$green_600: #12c995;
$green_700: #0e9a73;
$green_800: #0a6c50;
$green_900: #063d2d;
$green_1000: #010e0a;
$grey_100: #e3e5e8;
$grey_200: #c7cbd1;
$grey_300: #abb1ba;
$grey_400: #8f97a3;
$grey_500: #737d8c;
$grey_600: #5c6470;
$grey_700: #454b54;
$grey_800: #2e3238;
$grey_900: #17191c;
$grey_1000: #000000;
$desktop_padding_700: 2.25rem;
$desktop_padding_600: 1.75rem;
$desktop_padding_500: 1.25rem;
$desktop_padding_400: 1rem;
$desktop_padding_300: 0.75rem;
$desktop_padding_200: 0.5rem;
$desktop_padding_100: 0.25rem;
$desktop_padding_800: 2.75rem;
$desktop_padding_900: 3.25rem;
$desktop_padding_1000: 3.75rem;
$desktop_margin_700: 3.75rem;
$desktop_margin_600: 2.75rem;
$desktop_margin_500: 2.125rem;
$desktop_margin_400: 1.5rem;
$desktop_margin_300: 1.125rem;
$desktop_margin_200: 0.75rem;
$desktop_margin_100: 0.375rem;
$desktop_margin_800: 4.75rem;
$desktop_margin_900: 6.25rem;
$desktop_margin_1000: 7.75rem;
$desktop_radius_full: 62.5rem;
$desktop_radius_600: 1.5rem;
$desktop_radius_500: 1.25rem;
$desktop_radius_400: 1rem;
$desktop_radius_300: 0.75rem;
$desktop_radius_200: 0.5rem;
$desktop_radius_100: 0.25rem;
$desktop_radius_700: 2rem;
$desktop_radius_800: 2.5rem;
$desktop_radius_900: 3rem;
$desktop_radius_1000: 3.5rem;
$tablet_padding_700: 2rem;
$tablet_padding_600: 1.5rem;
$tablet_padding_500: 1.125rem;
$tablet_padding_400: 0.875rem;
$tablet_padding_300: 0.625rem;
$tablet_padding_200: 0.375rem;
$tablet_padding_100: 0.1875rem;
$tablet_padding_800: 2.5rem;
$tablet_padding_900: 2.875rem;
$tablet_padding_1000: 3.75rem;
$tablet_margin_700: 3rem;
$tablet_margin_600: 2.25rem;
$tablet_margin_500: 1.75rem;
$tablet_margin_400: 1.25rem;
$tablet_margin_300: 0.875rem;
$tablet_margin_200: 0.625rem;
$tablet_margin_100: 0.25rem;
$tablet_margin_800: 4.25rem;
$tablet_margin_900: 5rem;
$tablet_margin_1000: 7.75rem;
$tablet_radius_full: 62.5rem;
$tablet_radius_600: 1.125rem;
$tablet_radius_500: 0.9375rem;
$tablet_radius_400: 0.75rem;
$tablet_radius_300: 0.5625rem;
$tablet_radius_200: 0.375rem;
$tablet_radius_100: 0.1875rem;
$tablet_radius_700: 1.625rem;
$tablet_radius_800: 2rem;
$tablet_radius_900: 2.375rem;
$tablet_radius_1000: 2.875rem;
$mobile_padding_700: 1.875rem;
$mobile_padding_600: 1.375rem;
$mobile_padding_500: 1rem;
$mobile_padding_400: 0.75rem;
$mobile_padding_300: 0.5rem;
$mobile_padding_200: 0.25rem;
$mobile_padding_100: 0.125rem;
$mobile_padding_800: 2.25rem;
$mobile_padding_900: 3.25rem;
$mobile_padding_1000: 3.75rem;
$mobile_margin_700: 2.5rem;
$mobile_margin_600: 2rem;
$mobile_margin_500: 1.625rem;
$mobile_margin_400: 1.125rem;
$mobile_margin_300: 0.75rem;
$mobile_margin_200: 0.5rem;
$mobile_margin_100: 0.25rem;
$mobile_margin_800: 3.75rem;
$mobile_margin_900: 4.375rem;
$mobile_margin_1000: 7.75rem;
$mobile_radius_full: 62.5rem;
$mobile_radius_600: 1rem;
$mobile_radius_500: 0.8125rem;
$mobile_radius_400: 0.625rem;
$mobile_radius_300: 0.375rem;
$mobile_radius_200: 0.3125rem;
$mobile_radius_100: 0.125rem;
$mobile_radius_700: 1.375rem;
$mobile_radius_800: 1.625rem;
$mobile_radius_900: 2rem;
$mobile_radius_1000: 2.875rem;
